<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>myGoal</key>
	<string></string>
	<key>isClockOn</key>
	<true/>
	<key>clockTime</key>
	<date>2013-07-25T05:53:02Z</date>
</dict>
</plist>
